---
import './style.sass';

import Section from 'layouts/section.astro';
import NewsItem from './newsItem.astro';

type SectionCopyright = {
    subTitle: string,
    title: string,
    description: string,
    list: Array<{
        img: string,
        title: string,
        description: string,
        btn: {
            text: string,
            link: string,
        }
    }>,
};

type Props = {
    id: string,
    COPY: SectionCopyright,
};

const { COPY, id } = Astro.props;

---

<Section className="news-section" id={id}>
    <div class="container">
        <div class="title-wrap">
            <span class="desc-4 teal up-text">{COPY.subTitle}</span>
            <h2 class="title-h2 emerald">{COPY.title}</h2>
        </div>
        <div class="news-section__list">
            {
                COPY.list.map((item, id) => (
                    <NewsItem id={`list-item-${id}`} COPY={item}/>
                ))
            }
        </div>
    </div>

</Section>

<script src="./script.ts"></script>
