---
import { CommonComponents } from '../commonTypes';
import './style.sass';

export type AccordionItem = {
    title: string;
    desc: string;
    icon: string;
};

type Props = {
    COPY: AccordionItem[];
};

const { COPY } = Astro.props;

---
<div id={CommonComponents.AccordionsList} class="faqs-accordion accordion">
    {
        COPY.map((item, i) => (
            <div class="accordion-item">
                <button
                    id={`accordion-button-${i}`}
                    class="accordion-button" aria-expanded={i===0 ? 'true' : 'false' }
                    aria-controls={`accordion-content-${i}`}
                >
                    <div class="accordion-title">
                        <div class="title-close">
                            <div class="accordion-title__icon">
                                <div class="img">
                                    <img data-src={item.icon} class="lazy" data-load-priority="4" alt="">
                                </div>
                            </div>
                            <div class="title-overflow">
                                <h3 class="title-h3 emerald">
                                    {item.title}
                                </h3>
                            </div>
                        </div>
                        <div class="title-open title-overflow">
                            <h3 class="title-h3 emerald">
                                {item.title}
                            </h3>
                        </div>
                    </div>
                    <span class="icon" aria-hidden="true" >
                        <svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.85313 14.3917C7.23161 14.7702 7.84526 14.7702 8.22377 14.3918L14.3919 8.22421C14.7704 7.84574 14.7704 7.23208 14.392 6.85358C14.0135 6.47507 13.3998 6.47504 13.0213 6.85351L7.53855 12.3358L2.05627 6.853C1.6778 6.4745 1.06414 6.47447 0.685635 6.85294C0.307128 7.23141 0.307099 7.84506 0.685572 8.22357L6.85313 14.3917Z" fill="#1D4133"/>
                        </svg>

                    </span>
                </button>
                <div id={`accordion-content-${i}`} class="accordion-content">
                    <div class="inner">
                        <p class="desc-2 emerald " set:html={item.desc}/>
                    </div>
                </div>
            </div>
        ))
    }
</div>

<script src="./script.ts"></script>
