---
import './style.sass';

import Section from 'layouts/section.astro';
import  RunningLine  from 'components/common/runningLine/view.astro';
import falcon from 'assets/img/ecosystem/FalconX.svg?url';
import rockaway from 'assets/img/ecosystem/RockawayX.svg?url';
import digital from 'assets/img/ecosystem/Fasanara_Digital.svg?url';
import bastion from 'assets/img/ecosystem/Bastion_Trading.svg?url';
import m11 from 'assets/img/ecosystem/m11.svg?url';
const images = [
    falcon,
    rockaway,
    digital,
    bastion,
    m11,
]

type SectionCopyright = {
    subTitle: string,
    title: string,
    description: string,
};

type Props = {
    id: string,
    COPY: SectionCopyright,
};

const { COPY, id } = Astro.props;

---

<Section className="ecosystem-section" id={id}>
    <div class="container">
        <div class="title-wrap">
            <span class="desc-4 teal">{COPY.subTitle}</span>
            <h2 class="title-h2 emerald">{COPY.title}</h2>
            <p class="desc-2 emerald">{COPY.description}</p>
        </div>
        <RunningLine className='ecosystem-section__line' tickerLiElement={images}/>
    </div>
</Section>

<script src="./script.ts"></script>
