---
import './style.sass';

import Section from 'layouts/section.astro';
import RunningLine from 'components/common/runningLine/view.astro';

type Image = {
    link: string
    src: string
};

type SectionCopyright = {
    subTitle: string,
    title: string,
    description: string,
    images: Image[]
};

type Props = {
    id: string,
    COPY: SectionCopyright,
};

const { COPY, id } = Astro.props;

---

<Section className="ecosystem-section" id={id}>
    <div class="container">
        <div class="title-wrap">
            <span class="desc-4 teal">{COPY.subTitle}</span>
            <h2 class="title-h2 dusty-mint">{COPY.title}</h2>
            <p class="desc-2 sage">{COPY.description}</p>
        </div>
        <RunningLine className='ecosystem-section__line' tickerLiElement={COPY.images}/>
    </div>
</Section>

<script src="./script.ts"></script>
