---
import './style.sass';

import Section from 'layouts/section.astro';
import HeroTabs, { type Item } from 'components/common/tabs/view.astro';


type SectionCopyright = {
    title: string,
    description: string,
    infoBlocks: {
        id: string;
        title: string;
        value: string;
    }[];
    tabs: Item[];
};

type Props = {
    id: string,
    COPY: SectionCopyright,
};

const { COPY, id } = Astro.props;

---

<Section className="hero-section" id={id}>
    <div class="timeline"></div>
    <div class="canvas-placeholder">
        <img src="/desktop/frame_001.webp" alt="canvas-placeholder" class="canvas-placeholder__img" />
    </div>
    <canvas class="canvas"></canvas>
    <div class="container">
        <div class="hero-section__title-wrap">
            <div class="hero-section__title">
                <h1 class="title-h1 emerald">
                    {COPY.title}
                </h1>
            </div>
            <div class="hero-section__description">
                <p class="desc-1 muted-green">
                    {COPY.description}
                </p>
            </div>
        </div>
        <HeroTabs Tabs={COPY.tabs} />
        <div class="hero-section__info-blocks-list">
            {COPY.infoBlocks.map((item) => (
                <div class="hero-section__info-blocks-item" data-id={item.id}>
                    <div class="hero-section__info-blocks-item-title">
                        <h4 class="desc-4 teal">
                            {item.title}
                        </h4>
                    </div>
                    <div class="hero-section__info-blocks-item-description">
                        <p class="title-h2 deep-forest" >
                            {item.value}
                        </p>
                    </div>
                </div>
            ))}
        </div>
    </div>
</Section>

<script src="./script.ts"></script>
