---
import './style.sass';

import Section from 'layouts/section.astro';
import AccordionsList from "components/common/accordionsList/view.astro";

type SectionCopyright = {
    title: string,
    subTitle: string,
    description: string,
    list: Array<{
        icon: string,
        title: string,
        description: string,
    }>,
};

type Props = {
    id: string,
    COPY: SectionCopyright,
};

const { COPY, id } = Astro.props;

---

<Section className="our-advantage" id={id}>
    <div class="container container-big">
        <div class="title-wrap">
            <span class="desc-4 teal">{COPY.subTitle}</span>
            <h2 class="title-h2 emerald title-wrap__title">{COPY.title}</h2>
            <p class="desc-2 emerald">{COPY.description}</p>
        </div>
        <AccordionsList COPY={COPY.list}/>
    </div>
</Section>

<script src="./script.ts"></script>
