---
import { CommonComponents } from '../commonTypes';
import './style.sass';
import TabItem from './tabItem.astro';

type Props = {
    Tabs: Item[];
};


export type Item = {
    icon: string;
    title: string;
    description: string;
    bgImage: string;
    badges: string[];
    address: string
    itemDescription: string;
    infoBlock: {
        id: string
        title: string;
        value: string;
    }[];
    isActive: boolean;
};

const { Tabs } = Astro.props;
// const Tabs = await loadVaultTabs();

---

<div class="tabs" id={CommonComponents.HeroTabs}>
    <div class="tabs-list">
        { Tabs.map((item, index) => (
            <TabItem
                index={index}
                icon={item.icon}
                title={item.title}
                address={item.address}
                description={item.description}
                bgImage={item.bgImage}
                badges={item.badges}
                itemDescription={item.itemDescription}
                infoBlock={item.infoBlock}
                isActive={item.isActive}
            />
        ))}
        <div class="tabs-list__placeholder">
            <div class="tabs-list__placeholder-header"></div>
        </div>
    </div>
    <div class="tabs-links">
        <ul class="tabs-links__list">
            { Tabs.map((item, index) => (
                <li class="tabs-links__item" data-nav-target={index}>
                    <span  class="tabs-links__link desc-4 up-text">{item.title}</span>
                </li>
            ))}
        </ul>
    </div>
</div>
