---
import { CommonComponents } from '../commonTypes';
import './style.sass';

import {
    FooterCopyright,
    type Locales,
} from 'sitemap/copyright';

type Props = {
    locale: Locales
};

const { locale } = Astro.props;

const Strings = FooterCopyright[locale];

// const year = new Date().getFullYear();
---

<footer class="footer" id={CommonComponents.Footer}>
    <div class="container">
        <div class="footer-container">
            <div class="footer-container__first">
                <div class="footer-container__first-left">
                    <div class="logo-wrap">
                        <svg viewBox="0 0 116 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M15.5191 26.3107L15.6295 26.6047C17.4377 31.4165 19.5467 37.0286 16.3203 40.9829C15.325 42.2027 14.0031 43.1829 12.4223 43.7745C7.66535 45.5547 2.366 43.1415 0.585847 38.3846C-1.19431 33.6277 1.21884 28.3283 5.97577 26.5482C6.06137 26.5161 6.14714 26.4854 6.23306 26.4561L8.77555 33.0912C8.66929 33.1131 8.56336 33.1435 8.45857 33.1827C7.3658 33.5916 6.81145 34.809 7.22039 35.9018C7.62933 36.9945 8.8467 37.5489 9.93947 37.14C11.0322 36.731 11.5866 35.5136 11.1777 34.4209C11.1669 34.392 11.1555 34.3635 11.1436 34.3354L6.91845 23.3044L6.89369 23.3168L6.53405 22.3273C3.35478 13.7729 7.69883 4.2549 16.2505 1.05466C24.8141 -2.15003 34.3541 2.1942 37.5588 10.7578L37.7248 11.2011C40.8165 19.4628 36.8655 28.6952 28.7543 32.1626C26.0893 33.3019 23.2139 33.8506 20.3252 33.7768L17.5143 26.4726L19.7839 26.6567C21.8971 26.8282 24.0203 26.4823 25.9698 25.6489C30.5997 23.6697 32.855 18.3998 31.0902 13.684L30.9243 13.2406C29.0908 8.34116 23.6327 5.85572 18.7333 7.6892C13.8339 9.52268 11.3484 14.9808 13.1819 19.8802L14.0384 22.2366L14.0328 22.2334L14.185 22.64L15.5191 26.3107ZM64.4921 31.6355C63.2581 31.6355 62.1931 31.3312 61.2971 30.7226C60.4011 30.114 59.7081 29.3026 59.2178 28.2883C58.7445 27.2571 58.5078 26.1245 58.5078 24.8905C58.5078 23.6057 58.7783 22.4562 59.3192 21.4419C59.8771 20.4107 60.6632 19.5993 61.6775 19.0076C62.7087 18.399 63.9343 18.0947 65.3543 18.0947C66.7574 18.0947 67.9492 18.399 68.9296 19.0076C69.927 19.5993 70.6877 20.4107 71.2118 21.4419C71.7527 22.4562 72.0232 23.5888 72.0232 24.8397V31.3312H69.1071V28.9223H69.0564C68.8028 29.3956 68.4732 29.8436 68.0675 30.2662C67.6618 30.6719 67.1631 31.0016 66.5714 31.2551C65.9797 31.5087 65.2866 31.6355 64.4921 31.6355ZM65.2782 29.1505C66.0389 29.1505 66.6982 28.9645 67.2561 28.5926C67.8308 28.2038 68.2703 27.6882 68.5746 27.0458C68.8958 26.3865 69.0564 25.6512 69.0564 24.8397C69.0564 24.0283 68.9043 23.3099 68.6 22.6844C68.2957 22.042 67.8646 21.5349 67.3068 21.163C66.7489 20.7741 66.0812 20.5797 65.3036 20.5797C64.4921 20.5797 63.799 20.7741 63.2243 21.163C62.6495 21.5349 62.21 22.042 61.9057 22.6844C61.6014 23.3268 61.4492 24.0537 61.4492 24.8651C61.4492 25.6596 61.6014 26.3865 61.9057 27.0458C62.21 27.6882 62.641 28.2038 63.1989 28.5926C63.7737 28.9645 64.4668 29.1505 65.2782 29.1505ZM74.1367 22.0772V31.3326H77.0528V22.204C77.0528 21.7983 77.1627 21.4771 77.3824 21.2404C77.6191 21.0037 77.9403 20.8854 78.346 20.8854H80.9324V18.4004H77.8135C76.664 18.4004 75.7596 18.73 75.1003 19.3893C74.4579 20.0317 74.1367 20.9277 74.1367 22.0772ZM88.2639 31.3312C86.81 31.3312 85.5337 31.0607 84.4349 30.5198C83.353 29.9619 82.5078 29.2012 81.8992 28.2376C81.2906 27.2571 80.9863 26.133 80.9863 24.8651C80.9863 23.5296 81.2568 22.3547 81.7978 21.3405C82.3387 20.3262 83.0825 19.5316 84.0292 18.9569C84.9759 18.3821 86.0662 18.0947 87.3003 18.0947C88.6865 18.0947 89.8275 18.3906 90.7235 18.9822C91.6195 19.5739 92.2787 20.3684 92.7014 21.3658C93.1409 22.3632 93.3607 23.4789 93.3607 24.713C93.3607 24.882 93.3522 25.0764 93.3353 25.2962C93.3184 25.5159 93.293 25.685 93.2592 25.8033H84.0799C84.1813 26.4795 84.4265 27.0458 84.8153 27.5023C85.2041 27.9418 85.6943 28.2799 86.286 28.5165C86.8777 28.7363 87.5369 28.8462 88.2639 28.8462H91.7378V31.3312H88.2639ZM84.0546 23.8255H90.4446C90.4277 23.5043 90.377 23.1831 90.2924 22.8619C90.2248 22.5407 90.1065 22.2364 89.9374 21.949C89.7853 21.6616 89.5824 21.4165 89.3289 21.2137C89.0922 20.9939 88.8048 20.8249 88.4667 20.7065C88.1286 20.5713 87.7398 20.5037 87.3003 20.5037C86.7931 20.5037 86.3452 20.6051 85.9563 20.8079C85.5675 20.9939 85.2379 21.2475 84.9674 21.5687C84.6969 21.873 84.4856 22.228 84.3335 22.6337C84.1982 23.0225 84.1053 23.4197 84.0546 23.8255ZM96.2751 30.3794C96.9344 31.0387 97.8388 31.3683 98.9883 31.3683H102.209V28.8833H99.4955C99.1066 28.8833 98.7939 28.765 98.5572 28.5283C98.3206 28.2748 98.2022 27.9536 98.2022 27.5648V20.9212H102.234V18.4362H98.2022V15.1904H95.3115V18.4362H93.0801V20.9212H95.3115V27.6915C95.3115 28.8242 95.6327 29.7201 96.2751 30.3794ZM109.128 31.6355C107.792 31.6355 106.609 31.3396 105.578 30.748C104.546 30.1394 103.727 29.328 103.118 28.3137C102.526 27.2825 102.23 26.133 102.23 24.8651C102.23 23.5972 102.526 22.4562 103.118 21.4419C103.727 20.4107 104.546 19.5993 105.578 19.0076C106.609 18.399 107.792 18.0947 109.128 18.0947C110.446 18.0947 111.621 18.399 112.652 19.0076C113.683 19.5993 114.495 20.4022 115.087 21.4165C115.695 22.4308 115.999 23.5803 115.999 24.8651C115.999 26.133 115.695 27.2825 115.087 28.3137C114.495 29.328 113.683 30.1394 112.652 30.748C111.621 31.3396 110.446 31.6355 109.128 31.6355ZM109.128 29.1505C109.922 29.1505 110.615 28.9645 111.207 28.5926C111.799 28.2038 112.255 27.6882 112.576 27.0458C112.897 26.4034 113.058 25.6765 113.058 24.8651C113.058 24.0706 112.897 23.3521 112.576 22.7097C112.255 22.0505 111.799 21.5349 111.207 21.163C110.615 20.7741 109.922 20.5797 109.128 20.5797C108.316 20.5797 107.615 20.7741 107.023 21.163C106.448 21.5349 105.992 22.042 105.654 22.6844C105.332 23.3268 105.172 24.0537 105.172 24.8651C105.172 25.6596 105.332 26.3865 105.654 27.0458C105.992 27.6882 106.448 28.2038 107.023 28.5926C107.615 28.9645 108.316 29.1505 109.128 29.1505ZM44.8984 13.5586V31.3086H47.9159V25.8315H52.3281C53.4945 25.8315 54.5426 25.5779 55.4724 25.0708C56.4191 24.5467 57.1629 23.8198 57.7038 22.8901C58.2617 21.9603 58.5406 20.8953 58.5406 19.695C58.5406 18.4779 58.2617 17.4129 57.7038 16.5C57.146 15.5703 56.3937 14.8518 55.447 14.3447C54.5173 13.8206 53.4861 13.5586 52.3535 13.5586H44.8984ZM51.9731 23.169H47.9159V16.2211H51.9985C52.6408 16.2211 53.2241 16.3648 53.7481 16.6522C54.2891 16.9227 54.7117 17.3199 55.016 17.844C55.3372 18.3511 55.4978 18.9766 55.4978 19.7204C55.4978 20.4304 55.3372 21.0474 55.016 21.5715C54.7117 22.0955 54.2891 22.4928 53.7481 22.7633C53.2241 23.0337 52.6324 23.169 51.9731 23.169Z" fill="#C0CAC3"/>
                        </svg>
                    </div>
                    <div class="subscribe-wrap">
                        <h3 class="desc-2 subscribe-label">
                            {Strings.InputTitle}
                        </h3>
                        <div class="subscribe">
                            <form class="subscribe__form">
                                <input type="text" class="subscribe__field desc-1" placeholder={Strings.InputPlaceholder}/>
                                <button class="subscribe__btn nav up-text" type="submit">
                                    {Strings.InputButton}
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="footer-container__first-right">
                    <div class="resources-wrap">
                        <h3 class="resources desc-2">{Strings.ResourcesTitle}</h3>
                        <ul class="resources-list footer-list">
                            { Strings.Resources.map(el =>{
                                return (
                                    <li class="resources-list__item footer-list__item">
                                        <a href={el.link} class="resources-list__link footer-link">
                                            <span>{el.title}</span>
                                        </a>
                                    </li>
                                );
                            })}
                        </ul>
                    </div>
                    <div class="resources-wrap">
                        <h3 class="resources desc-2">{Strings.ProductsTitle}</h3>
                        <ul class="resources-list footer-list">
                            { Strings.Products.map(el =>{
                                return (
                                    <li class="resources-list__item footer-list__item">
                                        <a href={el.link} class="resources-list__link footer-link">
                                            <span>{el.title}</span>
                                        </a>
                                    </li>
                                );
                            })}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-container__second">
                <div class="footer-container__second-left">
                    <div class="social-list">
                        {Strings.Social.map(el => {
                            return (
                                <a href={el.link} class="social-list__item">
                                    <Fragment set:html={el.icon} />
                                </a>
                            );
                        })}
                    </div>
                </div>
                <div class="footer-container__second-right">
                    {Strings.PolicyLink.map(el => {
                        return (
                            <a href={el.link} class="footer-link">
                                {el.title}
                            </a>
                        );
                    })}
                </div>

            </div>
            <div class="footer-container__desc">
                <p class="desc-4">
                    {Strings.Desc}
                </p>
            </div>
        </div>
    </div>

</footer>
